.new-secret {
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.496);
    min-height: 40px;
    border-radius: 8px;
    padding-left: 14px;
    padding-bottom: 14px;
}

.new-secret h3 {
    padding-top: 10px;
    user-select: none;
}

.new-secret input {
    background-color: transparent;
    border: none;
    outline: none;
    margin-right: 20px;
    width: 60%;
}

.new-secret select {
    background-color: transparent;
    border: none;
    margin-right: 20px;
    outline: none;
    font-weight: 200;
    font-size: medium;
}

.secret-form label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dark-secret-form input{
    border-bottom: 1px solid rgba(229, 229, 229, 0.878);
    font-size: medium;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.878);
}

.light-secret-form input{
    border-bottom: 1px solid rgba(39, 39, 39, 0.878);
    font-size: medium;
    font-weight: 200;
    color: rgba(37, 37, 37, 0.878);
}

.dark-select{
    color: rgba(255, 255, 255, 0.878);
}

.light-select{    
    color: rgba(37, 37, 37, 0.878);
}

.dark-select option {
    background-color: rgb(36, 36, 36);
    color: rgba(255, 255, 255, 0.878);
}

.light-select option {
    color: rgba(37, 37, 37, 0.878);
    background-color: rgb(210, 210, 210);
}