.secret-attribute-label{
    width: 30%;
    text-align: start;
}

.secret-attribute-data{
    width: 100%;
    text-align: start;
}

.secret-attribute-icon{
    width: min-content;
    height: fit-content;
    padding-left: 8px;
    text-align: center;
}

.secret-attribute{
    font-size: medium;
    margin: 8px;
}